@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Slabo+27px);
body {
  background-color: #002408;
  font-family: 'Montserrat', sans-serif;
  color:black;
}

.intro {
  text-align: center;
  background: url(../img/landing-page.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  color: white;
}
.before-title{
  font-size: 18px;
}
.title{
  font-size: 25px;
}
.center-landing{
  width:800px;
  height:300px;
  margin:auto;
  position:absolute;
  top:0;bottom:0;
  left:0;right:0;
  max-width:100%;
  max-height:100%;
  overflow:auto;
}
#read-more-button{
  background-color: inherit;
  border:2px solid #B7B6C1;
  margin-top: 80vh;
  padding: 1.2em;
}
#read-more-button:hover{
  border-color: white;
  transition: all 0.5s ease 0s;
}
.navbar a, button{
  color: white !important;
}
.navbar-custom{
  background-color: #002408;
  transition: all 0.4s ease-in-out;
  padding: 0px !important;
}
.navbar-fixed-top{
  transition: all 0.4s ease-in-out;
  padding: 20px;
}
@media (max-width: 768px) {
  .navbar-fixed-top{
    background-color: #002408;
    transition: all 0.4s ease-in-out;
    padding: 0px !important;
  }
  .project-image{
    height: auto;
  }
}
button:focus {outline:0;}
ul.nav a:hover {
  color: #002408 !important;
  transition: all 0.4s ease-in-out;
}
.about-text{
  margin-top: 10vh;
}
.grey-bg{
  padding: 2px;
  font-size: 1.5em;
}
.no-margin{
  margin: 0px !important;
}
.icon{
  color: #002408;
  border: 2px solid #002408;
  padding: 0.5em;
  border-radius: 50%;
  margin-bottom: black;
  font-size:
}
.navbar-brand{
  font-family: 'Slabo 27px';
  letter-spacing: 3px;
}
.under-title{
  margin-top: 10px;
  padding-top: 10px;
  border-top: 2px solid grey;
  font-size: 20px;
}
p{
  font-size: 16px;
}
.project-image{/*16x9*/
  max-width:100%;
  max-height:100%;
  overflow: auto;
}
.description{
  color:grey;
  padding-bottom: 20px;
}
.portfolio-text{
  padding-top: 5vh;
  padding-bottom: 30px;
}
#about{
  background-color: #f4f5f7;
  padding-bottom: 10vh;
}
#projects{
  background-color: white;
  padding-bottom: 10vh;
}
#contact{
  background-color: #002408;
  padding-bottom: 10px;
}
#contact h3{
  color:white;
  font-size: 16px;
}
footer{
  height: 0px;
}
.small-text{
  font-size: 13px;
  color: #707070;
}
.small-text span{
  color: #24696B;
}
.social{
  padding-top: 10px;
  font-size: 30px;
}
.social a{
  color: white;
}
/*  Bootstrap Clearfix */

/*  Tablet  */
@media (min-width:767px){

  /* Column clear fix */
  .col-lg-1:nth-child(12n+1),
  .col-lg-2:nth-child(6n+1),
  .col-lg-3:nth-child(4n+1),
  .col-lg-4:nth-child(3n+1),
  .col-lg-6:nth-child(2n+1),
  .col-md-1:nth-child(12n+1),
  .col-md-2:nth-child(6n+1),
  .col-md-3:nth-child(4n+1),
  .col-md-4:nth-child(3n+1),
  .col-md-6:nth-child(2n+1){
    clear: none;
  }
  .col-sm-1:nth-child(12n+1),
  .col-sm-2:nth-child(6n+1),
  .col-sm-3:nth-child(4n+1),
  .col-sm-4:nth-child(3n+1),
  .col-sm-6:nth-child(2n+1){
    clear: left;
  }
}


/*  Medium Desktop  */
@media (min-width:992px){

  /* Column clear fix */
  .col-lg-1:nth-child(12n+1),
  .col-lg-2:nth-child(6n+1),
  .col-lg-3:nth-child(4n+1),
  .col-lg-4:nth-child(3n+1),
  .col-lg-6:nth-child(2n+1),
  .col-sm-1:nth-child(12n+1),
  .col-sm-2:nth-child(6n+1),
  .col-sm-3:nth-child(4n+1),
  .col-sm-4:nth-child(3n+1),
  .col-sm-6:nth-child(2n+1){
    clear: none;
  }
  .col-md-1:nth-child(12n+1),
  .col-md-2:nth-child(6n+1),
  .col-md-3:nth-child(4n+1),
  .col-md-4:nth-child(3n+1),
  .col-md-6:nth-child(2n+1){
    clear: left;
  }
}


/*  Large Desktop  */
@media (min-width:1200px){

  /* Column clear fix */
  .col-md-1:nth-child(12n+1),
  .col-md-2:nth-child(6n+1),
  .col-md-3:nth-child(4n+1),
  .col-md-4:nth-child(3n+1),
  .col-md-6:nth-child(2n+1),
  .col-sm-1:nth-child(12n+1),
  .col-sm-2:nth-child(6n+1),
  .col-sm-3:nth-child(4n+1),
  .col-sm-4:nth-child(3n+1),
  .col-sm-6:nth-child(2n+1){
    clear: none;
  }
  .col-lg-1:nth-child(12n+1),
  .col-lg-2:nth-child(6n+1),
  .col-lg-3:nth-child(4n+1),
  .col-lg-4:nth-child(3n+1),
  .col-lg-6:nth-child(2n+1){
    clear: left;
  }
}
