<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/gif/png" href="img/icon.png">
  <title>Cristian-Raul Popovici</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
  <link rel="stylesheet" href="css/styles.css">
</head>

<body ng-app="app">

  <!--Navigation tab STARTS HERE -->
  <div class="navbar navbar-fixed-top" id="the-navbar">
    <div class="container">
      <a href="https://raulgx.github.io/" class="navbar-brand"><strong>&lt;&#47;&gt;</strong></a>
      <button type="button" class="navbar-toggle no-margin" data-toggle="collapse" data-target=".navHeaderCollapse"><i class="fa fa-bars grey-bg"></i></button>
      <div class="collapse navbar-collapse navbar-right navHeaderCollapse" ng-controller="NavController">
        <ul class="nav navbar-nav" ng-controller="ScrollController">
          <li smooth-scroll target="{{nav.link}}" ng-repeat="nav in navigations" style="cursor:pointer"><a >{{nav.name}}</a></li>
        </ul>
      </div>
    </div>
  </div>

  <section id="home" class="intro" ng-controller="ScrollController">
    <div class="container">
      <div class="center-landing">
      </br><!--change in case of logo -->
        <p class="before-title">Raul. Web Developer.</p>
        <p class="title">I help businesses reach more customers and automate their product with technology.</p>
      </div>
      <button smooth-scroll target="about"
       id="read-more-button">Read More</button>
    </div>

  </section>
  <section id="about">
    <div class="container intro-body">
      <h1 class="about-text text-center">About</h1>
        <div class="row">
          <div class="col-md-6">
            <h1 class="text-center"><i class="fa fa-graduation-cap icon" aria-hidden="true" ></i>
            </h1>
            <p class="under-title">
              Education
            </p>
            <p>
              Studying Information Technology, starting year 3 - Junior year this fall. Currently enrolled at The Faculty of Automatic Control and Computer Engineering, Iasi, Romania.<br />Claimed the Front-End certificate of FreeCodeCamp's program. I will continue the program and by the end of the year I will claim the Full-Stack Certificate.
            </p>
          </div>
          <div class="col-md-6">
            <h1 class="text-center"><i class="fa fa-laptop icon" aria-hidden="true"></i></h1>
            </h1>
            <p class="under-title">
              Why web development?
            </p>
            <p>
              As a web developer you have a great deal of opportunities to help a very large array of people. Also, in web development there are many languages and ways of tackling a problem. I was attracted to this field because I feel like it stimulates your creativity.
            </p>

          </div>
        </div>
  </section>

  <section id="projects">
    <div class="container intro-body" ng-controller="projectController">
      <h1 class="text-center portfolio-text">Projects:</h1>
      <div class="row">
        <div class="col-lg-4 col-md-6" ng-repeat="project in projects">
          <a href="{{project.link}}" target="_blank"><img src="{{project.img}}" class="img-responsive project-image" /></a>
          <h4>{{project.name}}</h2>
          <p class="description">{{project.description}}</p>
        </div>
      </div>
    </div>
  </section>
  <section id="contact">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h3>Currently looking for a web development opportunity or freelance project.</h3>
          <p class="small-text">
          If you would like to discuss a project or employment opportunities,<br/>
          please feel free to contact me.<br /><br />
          Email: <span>raul.popovici95@gmail.com</span><br />
          Phone: 0748 930 242
          </p>
        </div>
        <div class="col-md-3 col-md-offset-3">
          <div class="social">
            <a href="https://twitter.com/popovici95" target="_blank" class=""><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
            <a href="https://codepen.io/raulGX/pens/public/" target="_blank" class=""><i class="fa fa-codepen" aria-hidden="true"></i></a>
            <a href="https://github.com/raulGX" target="_blank" class=""><i class="fa fa-github-square" aria-hidden="true"></i></a>
            <a href="https://www.linkedin.com/in/raul-popovici-2b914a121" target="_blank" class=""><i class="fa fa-linkedin-square" aria-hidden="true"></i></i></a>
          </div>
        </div>
      </div>
    </div>
  </section>

</body>
<script src="js/main.js"></script>

</html>
